APP_NAME=booking
APP_ENV=development
APP_KEY=
APP_DEBUG=true
APP_URL=http://159.89.108.44

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=booking
DB_USERNAME=elhousseyn
DB_PASSWORD=password

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.sendgrid.net
MAIL_PORT=587
MAIL_USERNAME=apikey
MAIL_PASSWORD=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
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="hocine.arab1@hotmail.com"
MAIL_FROM_NAME="${APP_NAME}"
MAIL_NO_REPLAY_ADDRESS="hocine.arab1@hotmail.com"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=1584900
PUSHER_APP_KEY=7d51e47c74d0f8bbc479
PUSHER_APP_SECRET=9dd64902d8812f77a09f
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=eu

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

APP_LANGS=en,fr,ar

FIREBASE_SERVER_KEY=AAAABIeWZOU:APA91bHJUEKcR0RluiUrmfIyArhC9j0bmWhmhHEz0xJHy-hMeLNwhH14amo6rtzu_m3Om1qx8sNcBDNKeROWIdXmhYSYnCUkud7O6RPFsTF2UO2PrzQq9oqtQLzSfu8W864T9EDozytT
